---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
Hi there,
<p>
I'm Shaun. 
Most readers here probably know me personally at this point, 
but in case you wandered here from somewhere outside of that realm, 
here's a bit about me.
</p>
<p>
Born in sunny South Africa, currently living in Ireland. 
I hold a degree in chemical engineering and a postgraduate in (chemical process) control engineering. 
It's a B.EngHons degree, so not quite a master's, but essentially master's level coursework.
</p>

<p>
For the first four years of my career, I spent (mostly) in the world of software engineering, 
with a focus on the advanced process control environment. 
C#, python, MongoDB, Akka.net and some other interesting technologies were the flavours back then. 
That doesn't mean I didn't spend my fair share of time building user interfaces for the web stack using a lesser-known framework, Aurelia.
This is where I really fell in love with the world of control systems, getting into the use of model predictive control to get the job done. 
More specifically, building shiny new tools using technologies that are usually only available to software engineers to streamline and improve the process of, 
well, advanced process control.
</p>

<p>
I then took a year's detour doing data science for a bank. 
It was a good year, and I made a few good connections and learned a few skills here and there about data and telling stories with it.
Then I quickly got pulled back into the world of mining in what I knew was a dream position - 
an Advanced Process Control Engineer, 
where eventually a client with 5 operations using APC became my responsibility. 
Hard, honest work, but thoroughly enjoyable! 
If I could split myself into two, I'd send the other half back there.
</p>

<p>
After a few years, one day while browsing LinkedIn, 
a post from a friend came up showing the position I currently hold. 
I applied, thinking I wouldn't get it, but low and behold, 
the company I work for now decided to pick me (and my wife, baby daughter and dog!) 
up from South Africa on an adventure to Europe. 
How exciting! I currently spend my time as a Senior R&D Engineer in the Pulp and Paper industry, focusing on APC applications (the software and implementation that is).
</p>

<p>
So far so good. And one of the biggest blessings in disguise for the move? We haven't set up a TV on this side, and at this point, I'm not sure I want to! No easy access to Netflix and the likes meant I had to consume content on my phone, which I eventually stopped doing and started reading (after a few months - if you want to call that quick). The rest, well, will likely be on this blog, and is hopefully more technically oriented content than the philosophical ramblings of a thirty-something!
</p>
</Layout>
