---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello, visitor!</h1>
			<p>
				Please check out some of the blog posts or my about page.

				One of these days, I'll be adding comments and other goodies to the site! For now, it's just a static, good old github pages page!
			</p>

			<p>
				The one cool thing is, this is built using Astro. Part of the journey of this, is learning and embracing new technology - 
				and importantly keeping up with the tools in the world of the web! Maybe one day, I'll dabble in Web 3.0 a little bit!
			</p>
		</main>
		<Footer />
	</body>
</html>
